@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBrand {
  font-size: 3rem;
  font-weight: normal;
  text-decoration: none;
  padding-left: 1rem;
  color: turquoise;
  font-family: 'Faster One', cursive;
  letter-spacing: .5rem;
}

.navbar-brand:focus, .navbar-brand:hover {
  color: turquoise;
}

.navLinks {
  font-size: 1.6rem;
  text-decoration: none;
  display: flex;
  justify-content: end;
}

.nav-link {
  color: turquoise;
  font-weight: normal;
  font-family: 'Cherry Bomb One', cursive;
}

.navCollapse {
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* For bigger screens may need to do a media query for toggler */
.navbar-toggler {
  color: turquoise;
  justify-content: end;
  margin-left: .5rem;
  font-size: 1.3rem;
}

@media (max-width: 576px) {
  .navBrand {
    font-size: 40px;
  }
}


.myFithub {
  background-size: cover;
  background-position: center;
}

.fitContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fitTitle {
  font-size: 6rem;
  color: white;
  display: flex;
  letter-spacing: .2rem;
  justify-content: center;
  font-weight: normal;
  text-shadow: black 1px 0 10px;
  font-family: 'Faster One', cursive;
  margin-top: -200px;
}

.fitText {
  font-size: 1.68rem;
  color: white;
  font-weight: bold;
  text-shadow: black 1px 0 10px;
  align-self: center;
}

@media (max-width: 768px) {
  .fitTitle {
    font-size: 4rem; 
  }
  
  .fitText {
    font-size: 1.2rem; 
  }
}

@media (max-width: 480px) {
  .fitTitle {
    font-size: 3rem;
  }

  .fitText {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .fitTitle {
    font-size: 8rem;
  }

  .fitText {
    font-size: 2rem;
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.card {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card a,.card-link {
  text-decoration: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: Black;
  font-size: 2.5rem;
  font-family: 'Faster One', cursive;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  margin: auto;
  width: 50%;
}

.loginBtn {
  background-color: turquoise;
}

.loginPage {
  height: 100%;
  background-size: cover;
  background-position: center;
  padding-top: 15%;
  padding-bottom: 15%;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signupContainer {
  margin: auto;
  width: 50%;
}

.signupBtn {
  background-color: turquoise;
}

.signupPage {
  height: 100%;
  background-size: cover;
  background-position: center;
  padding-top: 15%;
  padding-bottom: 15%;
}

.form-input{
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .card a, .card-link {
    font-size: 20px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 480px) {
  .card a, .card-link {
    font-size: 20px;
    line-height: 1;
  }
}