@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBrand {
  font-size: 3rem;
  font-weight: normal;
  text-decoration: none;
  padding-left: .3rem;
  color: turquoise;
  font-family: 'Faster One', cursive;
  letter-spacing: .5rem;
}

.fitnessLogo {
  height: 45px;
  width: 45px;
  margin-right: 1rem;
  background-color:rgba(0, 0, 0, 0.9);
}

.navbar-brand:focus, .navbar-brand:hover {
  color: turquoise;
}

.navLinks {
  font-size: 1.6rem;
  text-decoration: none;
  display: flex;
  justify-content: end;
  margin-left: auto;
}

@media (max-width: 576px) {
  .navLinks {
    font-size: 1.4rem;
  }
}

@media (max-width: 420px) {
  .navLinks {
    font-size: 1rem;
  }
}

.nav-link {
  color: turquoise;
  font-weight: normal;
  font-family: 'Oswald';
}


.navCollapse {
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* For bigger screens may need to do a media query for toggler */
.navbar-toggler {
  color: turquoise;
  justify-content: end;
  font-size: 1.3rem;
  margin-right: .5rem;
}


@media (max-width: 576px) {
  .navBrand {
    font-size: 40px;
  }
}

@media (max-width: 420px) {
  .navBrand {
    font-size: 30px;
  }
}
@media (max-width: 352px) {
  .navBrand {
    font-size: 20px;
  }
}


.myFithub {
  background-size: cover;
  background-position: center;
}

.fitContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fitTitle {
  font-size: 6rem;
  color: white;
  display: flex;
  letter-spacing: .2rem;
  justify-content: center;
  font-weight: normal;
  text-shadow: black 1px 0 10px;
  font-family: 'Faster One', cursive;
  margin-top: -200px;
}

.fitText {
  font-size: 1.68rem;
  color: white;
  font-weight: bold;
  text-shadow: black 1px 0 10px;
  align-self: center;
}

@media (max-width: 768px) {
  .fitTitle {
    font-size: 4rem; 
  }
  
  .fitText {
    font-size: 1.2rem; 
  }
}

@media (max-width: 480px) {
  .fitTitle {
    font-size: 3rem;
  }

  .fitText {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .fitTitle {
    font-size: 8rem;
  }

  .fitText {
    font-size: 2rem;
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.card {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card a,.card-link {
  text-decoration: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: Black;
  font-size: 2.5rem;
  font-family: 'Faster One', cursive;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  margin: auto;
  width: 50%;
  margin-bottom: 15rem;
}

.loginBtn {
  background-color: turquoise;
}

.loginPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.signupContainer {
    margin: auto;
    width: 50%;
    max-width: 400px; 
    background-color:rgba(0, 0, 0, 0.4);
    color: turquoise;
    text-shadow: black 1px 0 10px;
    font-family: 'Oswald';
  }
  

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px; 
  margin: auto;
  color: turquoise;
  font-family: 'Oswald';
  height: 200px;
}


.signupPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.historyPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.historyContainer {
  margin: auto;
  width: 50%;
  margin-bottom: 15rem;
  background-color:rgba(0, 0, 0, 0.4);
  color: turquoise;
  text-shadow: black 1px 0 10px;
  font-family: 'Oswald';
}

.historyHeader {
  font-size: 3rem;
  font-weight: bold;
  align-self: center;
}

.workoutHistory {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cardioHeader, .strengthHeader {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
}

.signupHeader {
  font-size: 2rem;
  align-self: center;
  font-family: 'Oswald';
  color: turquoise;
}

.signupBtn {
  background-color: turquoise;
  font-family: 'Oswald';
  font-weight: bold;
}

@media screen and (max-width: 1300px) {
  .signupContainer {
    width:40%;
  }  
  .signupForm {
    height: auto;
    padding: 20px;
  }
}

@media screen and (max-width: 800px) {
  .signupContainer {
    width: 60%;
  }  
  .signupForm {
    height: auto;
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {
  .signupContainer {
    width: 80%;
  }  
  .signupForm {
    height: auto;
    padding: 20px;
  }
}

.form-input{
  margin-bottom: 1rem;
}

.form-control:focus {
  border-color: turquoise;
  background:rgba(0, 0, 0, 0.9);
  color: White;
  font-family: 'Oswald';
}

.form-control {
  color: white;
}

@media screen and (max-width: 768px) {
  .card a, .card-link {
    font-size: 20px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 480px) {
  .card a, .card-link {
    font-size: 20px;
    line-height: 1;
  }
}

.strengthImg {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.strengthContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    .strengthContainer {
      padding: 0 15px; 
    }
  }

  .strengthForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px; 
    margin-bottom: 50px;
    background-color:rgba(0, 0, 0, 0.4);
    color: turquoise;
    text-shadow: black 1px 0 10px;
    font-family: 'Oswald';
    height: 600px;
  }

  .form-control {
    background-color:rgba(0, 0, 0, 0.4);
    font-size: 1.4rem;
  }

  .form-group label {
    font-size: 1.4rem;
  }

  .btn-primary {
    background-color: turquoise;
    border-color: turquoise;
    color: black;
    margin-top: 10px;
    display: flex;
    font-weight: bold;
    font-size: 1.4rem;
  }

  .cardioImg {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .cardioContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  @media (max-width: 768px) {
    .cardioContainer {
      padding: 0 15px; 
    }
  }

  .cardioForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
    max-width: 600px; 
    background-color:rgba(0, 0, 0, 0.4);
    color: turquoise;
    text-shadow: black 1px 0 10px;
    font-family: 'Oswald';
    height: 600px;
  }

@media (max-width: 600px) {
  .cardioForm {
    height: auto; 
    padding: 20px; 
  }
}

  .signupPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loginPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  .donationPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bbcdda;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; 
  }
  
  .donationHeading {
    font-family: 'Cherry Bomb One';
    font-size: 3.5rem;
    color: #ecb2f3;
    text-shadow: black 0 0 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .donateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
  }

  .handPoint {
    font-size: 3rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
    font-weight: bold;
    text-shadow: black 0 0 6px;
  }

  .donate-button {
    background-color: #ecb2f3;
    font-family: 'Cherry Bomb One';
    font-size: 4rem;
    color:black;
    padding: .1rem .5rem;
    border-radius: 50px;
    border-style: none;
  }

  .successDonation {
    font-family: 'Cherry Bomb One';
    font-size: 2rem;
    color: #ecb2f3;
    text-shadow: black .5px 0 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .woody {
    border-style: none;
    border-radius: 50px;
  }

  @media (max-width: 768px) {
    .donateContainer {
      max-width: 90%; 
    }
  }

  @media (max-width: 430px) {
    .donateContainer {
      max-width: 90%; 
    }
  
    .donationHeading {
      font-size: 2rem; 
    }
  
    .donate-button {
      font-size: 1.5rem;
    }
  }

  .stopPage {
    background-color: #bbcdda;
    min-height: 100vh;
    overflow: hidden; 
  }

  .stopwatch-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald';
    font-size: 4rem;
    color:black;
    text-shadow: turquoise 0 0 6px;
  }

  .stopwatch-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    font-size: 50px;
    color: turquoise;
    font-weight: bold;
    margin: auto;
  }

  .stopwatch-buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .stopwatch-buttons button {
    background-color: black;
    margin: 0 5px; 
    color: turquoise;
    border-radius: 10px;
    border-style: none;
    font-size: 2rem;
    font-family: 'Oswald';
  }

  .stopwatch-buttons button:hover {
    background-color: white;
    color: turquoise;
    border-style: none;
    font-size: 2rem;
    font-family: 'Oswald';
    cursor: grab;
  }



  #root {
    background-color: #bbcdda
  }

  .timer-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald';
    font-size: 4rem;
    color:black;
    text-shadow: turquoise 0 0 6px;
  }

  .clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #bbcdda;
    min-height: 100vh;
    overflow: hidden; 
    padding-bottom: 100px;
  }

  .clock-face {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  color: turquoise;
}

.timer-buttons {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.timer-buttons button {
  background-color: black;
  margin: 0 5px; 
  color: turquoise;
  border-radius: 10px;
  border-style: none;
  font-size: 2rem;
  font-family: 'Oswald';

}


.timer-buttons button:hover {
  background-color: white;
  color: turquoise;
  border-style: none;
  font-size: 2rem;
  font-family: 'Oswald';
  cursor: grab;
}




